.button {
  position: relative;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.15s;
  color: #6b7280;
  border: none;
  background: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f3f4f6;
}

:global(.dark) .button {
  color: #9ca3af;
}

:global(.dark) .button:hover {
  background-color: #27272a;
}

.sun {
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(0deg) scale(1);
  transition: all 0.15s;
}

:global(.dark) .sun {
  transform: rotate(-90deg) scale(0);
}

.moon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(90deg) scale(0);
  transition: all 0.15s;
}

:global(.dark) .moon {
  transform: rotate(0deg) scale(1);
}